<article id="<%= post.layout %>-<%= post.slug %>" class="article article-blog card" itemscope itemprop="blogPost">
  <div class="article-header">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
        <%- partial('post/title', {class_name: 'article-title'}) %>
    <% } %>
  </div>
  <div class="mdl-grid mdl-grid--nesting article-meta">
    <div class="mdl-cell--3-col">
      <%- partial('post/author', {class_name: 'author-name' }) %>
    </div>
    <div class="mdl-cell--3-col">
      <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    </div>
    <div class="mdl-cell--3-col">
      <%- partial('post/reading-time') %>
    </div>
    <div class="mdl-cell--3-col">
      <%- partial('post/pageview') %>
    </div>
  </div>
  <div class="article-inner">

    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
    <footer class="article-footer">
      <div class="mdl-grid mdl-grid--nesting article-meta">
        <div class="mdl-cell--6-col">
          <%- partial('post/category') %>
        </div>
      </div>
    </footer>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>
