<header id="header">
  <div id="banner"></div>
  <div id="header-outer" class="outer">
    <div id="header-title" class="inner">
      <h1 id="logo-wrap">
        <a href="<%- url_for() %>" id="logo"><%= config.title %></a>
      </h1>
      <% if (theme.subtitle){ %>
        <h3 id="subtitle-wrap">
          <span><%= theme.subtitle %></span>
        </h3>
      <% } %>
    </div>
    <div id="header-inner" class="inner">
      <nav id="main-nav">
        <ul>
          <% for (var i in theme.menu){ %>
            <li>
              <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
            </li>
          <% } %>
        </ul>
      </nav>
      
    </div>
  </div>
</header>
