<article id="<%= post.layout %>-<%= post.slug %>" class="article article-home card" itemscope itemprop="blogPost">
  <div class="article-header">
    <% if (post.link || post.title){ %>
        <%- partial('post/title', {class_name: 'article-title'}) %>
    <% } %>
  </div>
  <div class="mdl-grid mdl-grid--nesting article-meta">
    <div class="mdl-cell--3-col">
      <%- partial('post/author', {class_name: 'author-name' }) %>
    </div>
    <div class="mdl-cell--3-col">
      <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    </div>
    <div class="mdl-cell--3-col">
      <%- partial('post/category') %>
    </div>
    <div class="mdl-cell--3-col">
      <%- partial('post/reading-time') %>
    </div>
  </div>
</article>
